* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/coverPhoto.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 200px;
}

.nav-links {
    flex: 1;
    text-align: right;
    transition: 1s;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    background-color: red;
    height: 2px;
    display: block;
    transition: 0.5s;
    margin: auto;
}

.nav-links ul li:hover::after {
    width: 100%;
}


/* 
textbox area
 */

.textBox {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textBox h1 {
    font-size: 63px;
}

.textBox p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.visitBtn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.6s;
}

.visitBtn:hover {
    font-size: 14px;
    background-color: #F44336;
    border: 1px solid #F44336;
    color: bla;
}

nav .fa {
    display: none;
}

@media (max-width: 700px) {
    nav .fa {
        display: block;
        margin: 10px;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }
    .textBox h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    .nav-links ul {
        padding: 30px;
    }
}


/* Starts content */

.content {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.content-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    font-weight: 600;
}

.content-col:hover {
    box-shadow: 0 0 20px 9px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
    html,
    body {
        overflow-x: hidden;
    }
}


/* 
factory */

.factory {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.factory-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.factory-col img {
    width: 100%;
    height: 100%;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    cursor: pointer;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 40%;
    opacity: 1;
}


/* 
offices */

.offices {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.offices-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.offices-col img {
    width: 100%;
    border-radius: 10px;
}

.offices-col p {
    padding: 0;
}

.offices-col h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}


/* Aboutus */

footer {
    background: gray;
    padding-top: 20px;
}

footer .aboutUs .footer_p {
    text-align: center;
    color: #fff;
}

.ourCompany {
    margin-top: 60px !important;
}

.icons {
    text-align: center;
}

.icons i {
    margin: 2px 10px;
    cursor: pointer;
}

.header_contact {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.9)), url(images/cont.webp);
    min-height: 60vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.conversation_section {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 60px;
}

.main-list {
    width: 80%;
    margin: auto;
}

.con_start {
    margin: 30px 0;
}

.contact_list {
    display: flex;
    text-align: start;
    box-sizing: border-box;
}

.list1 {
    flex: 1;
    margin: auto;
    margin-top: 0;
}

.list1>* {
    margin: 10px 0;
    text-align: start;
    font-family: "Lato", sans-serif;
    padding-left: 0 !important;
}

.list2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.list2>* {
    margin: 10px 0;
    text-align: start;
    font-family: "Lato", sans-serif;
    padding-left: 0 !important;
    font-size: 20px;
}

.list2 input {
    height: 50px;
    border-radius: 8px;
    width: 70%;
    border: 1px solid gray;
}

.list2 h3 {
    text-align: start !important;
}

select {
    width: 200px;
    height: 40px;
}

.checkdiv {
    display: flex;
    width: 100%;
}

.checkit {
    width: 20px !important;
    height: 20px !important;
}

.custom-select {
    width: 100% !important;
}

.chektext {
    font-size: 12px;
    margin-left: 10px;
}

.send_message {
    background: #007aff;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
    width: 70%;
    height: 50px;
}

.About_header {
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(122, 125, 134, 0.7)), url(images/about.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.about_Section {
    padding: 5px 300px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_Section h1 {
    text-align: center;
    margin-top
}

.about_Section>* {
    margin: 30px 0;
    line-height: 30px;
}

@media (max-width: 1250px) {
    .about_Section {
        padding: 5px 50px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.news_header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(122, 125, 134, 0.3)), url(images/new_cover.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.visitbtn1 {
    background: brown;
    color: #fff;
}

.news_content {
    background: #f7f7f7;
    text-align: center;
    padding: 30px 100px;
    padding-bottom: 100px;
}

.news_content h1 {
    color: black;
    text-align: center;
    width: 100%;
}

.news_content {
    display: flex;
    justify-content: space-between;
    background: #dddd;
    flex-direction: column;
}

.newsMainDiv {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.News1 {
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    list-style: none;
    cursor: pointer;
}

.News1 img {
    width: 90%;
}

.news_h1 {
    margin-top: 20px;
}


/* 
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.content-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
} */

@media (max-width: 700px) {
    .contact_list {
        display: flex;
        text-align: start;
        box-sizing: border-box;
        flex-direction: column;
    }
    .newsMainDiv {
        display: flex;
        flex-direction: column;
    }
    .newsMainDiv>* {
        margin: 10px 0;
    }
}

#btnScrollToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}